@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Acme');

html {
    background-color: #000000;
}

body {
    background-color: #000000;
    background: black url('../img/background.png') center top no-repeat fixed;
    display: flex;
    flex-direction: column;
}

main {
  min-height: calc(100vh - 130px);  
}

p {
    color: #FFF;
}

a {
    font-size: 130%;
}

form {
    text-align: center;
}

fieldset {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    min-height: 100%;
    padding-bottom: 4%;
}

footer {
    background: #000000;
    width: 100%;
    bottom: 0;
}

aside.autor {
    float: right;
}

.table {
    width: 50%;
    margin: 0 auto !important;
}

.bienvenida {
    width: 100%;
    height: 100%;
    flex: 1;
}

.notification {
    display: none;
}

.shadowed-box {
    margin-top: 3%;
    border-radius: 2%;
    background-color: rgba(25,25,25,0.5);
    padding: 2% 2% 2% 2%;
    color: #FFF;
    text-shadow: 1px 1px #000000;
}

/* Reducimos un poco la separación de la primera noticia con respecto al section. */
article.first {
    margin-top: -2%;
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    color: lightgray;
    font-size: 150%;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 1px 1px #000000;
}

.staff-posicion {
    align-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: lightgray;
    font-size: 150%;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 1px 1px #000000;
}

.titulo {
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo-staff {
    margin-top: -1%;
    margin-bottom: 2%;
}

div.g-recaptcha {
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
}

.banner {
    background: url('../img/header.png');
    background-size: cover;
    width: 100%;
    height: 70px;
}

.section-divider-up {
    height: 9%;
    background: url('../img/Divider-thickUp.png') center bottom no-repeat;
    margin-top: -2.0%;
    position: absolute;
}
.section-divider-down {
    height: 7%;
    background: url('../img/Divider-thickDown.png') center top no-repeat;
    z-index: 200;
    margin-top: -2%;
    position: absolute;
}

.section-divider-up,
.section-divider-down{
    background-position: center top;
    background-size: 100%;
    width: 100%;
}

.contenido,
.form-body {
    padding-top: 7%;
    padding-bottom: 3%;
}
/*
 * Header
 */
.nav-masthead {
    width: 100%;
    display: flex;
    padding-top: 1%;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}